*{
    margin:0;
    padding: 0;
}

.home{
    background-image: url(../img/pexels-chait-goli-1796727.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 60% ;
    width: 100%;
    height: 100vh;

}

