.navbar {
  background: linear-gradient(90deg, #004400 10%, #006600 80%);
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.logo{
  height: 100px;
  width: 200px;
    cursor: pointer;
    justify-self: start;
  } 

  .navbar-logo {
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  margin-top: 15px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
} 


.nav-menu {
  display: grid;
  /* flex-wrap: nowrap; */
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 60vw;
  justify-content: end;
  margin-right: 2rem;
}

.nav-item {
  display: flex;
  align-items: center;
  height: 80px;
}

.nav-links {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

 .nav-links:hover {
  background-color: #afb6af;
  border-radius: 4px;
  transition: all 0.2s ease-out;
} 

.fa-bars {
  color: #fff;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

@media (max-width: 844px) {
  
  .navbar {
    background: linear-gradient(90deg, #004400 10%, #006600 80%);
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
  }

 

  .logo{
    cursor: pointer;
    justify-items: start;

  } 

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 70%;
    /* height: 50vh; */
    position: absolute;
    top: 100px;
    /* left: 100%; */
    opacity: 1;
    transition: all 0.5s ease;
  }

  .active {
    background: #004400;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    position: absolute;
    top: 80px;
  }

  .nav-links {
    text-align: start;
    padding: 2rem;
    width: 100%;
    display: table;
  }

   .nav-links:hover {
    background-color: #003300;
    border-radius: 4px;
  } 

  

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .fa-caret-down {
    display: none;
  }
  
  

  .nav-links-mobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    background: #003300;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #003300;
    transition: 250ms;
  }

  button {
    display: none;
  }

  .btn {
    display: none;
  }
}

@media (max-width: 425px) {
  
}